<div class="container">
  <div class="row">
    <div class="col">
      <form
        [formGroup]="myForm"
        (ngSubmit)="onSubmit()"
      >
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              formControlName="username"
            >
            <p *ngIf="!myForm.get('userData.username')?.valid && myForm.get('userData.username')?.touched">
              please input a value
            </p>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              class="form-control"
              formControlName="email"
            >
          </div>
        </div>
        <div
          class="radio"
          *ngFor="let gender of genders"
        >
          <label>
            <input
              type="radio"
              [value]="gender"
            >{{ gender }}
          </label>
        </div>
        <div formArrayName="likes">
          <button (click)="onAddlike()">Add like felid</button>
          <div *ngFor="let item of getControls();let i = index">
            <input
              type="text"
              [formControlName]="i"
            >
          </div>
        </div>

        <hr>
        <button
          class="btn btn-primary"
          type="submit"
        >Submit</button>
      </form>
    </div>
  </div>
</div>